body{
    margin:0;
    font-family: Roboto, sans-serif;
}


header{
    position:relative;
    background-image: url(ubunifu.jpg) ;
    height:100vh;
    width:100%;
    background-size: cover;
    background-position:center;
  
}
.sec{
    opacity: 0.8;
    position:absolute;
    background-color: black;
    height:100vh;
    width:100%;
}
    


.navBar{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    color:white;
    padding-right:50px;
    padding-left: 50px;
    padding-top: 10px;
    height:50px;
}


.navBar img{
    height: 80px;
   
}

.listItems{
    display: inline;
    justify-content: space-evenly;
    margin-left: 40px;
    
}

.fa-bars{
 font-size: 20px !important;
   margin-right: 50px;
    
}

.sec1{
    position: absolute;
    right:0;
    bottom:0;
    background-color: #FF214FD9;
    width:40%;
   height:50vh;
  opacity:100%;

}
.navBar2{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    color:black;
    padding-right:50px;
    padding-left: 50px;
    padding-top: 10px;
    height:50px;
    position: sticky;
    top:0;
    background-color: white;
   
}

.sec2{
    height:100vh;
    width:100%;
    background-color: coral;
}
.line{
  background-color: white;
  line-height: 50px;
  position:absolute;
   right:50%;
   bottom:50%

}
h1{
    color:white;
    font-family: sans-serif;
    margin-left: 60px;
    margin-top:50px;
    font-size: 60px;

}
p{
    color: black;
    margin-left: 60px;


}
.btn{
    background-color: transparent ;
        color:white;
        padding-top: 4px;
        padding-bottom: 4px;
        border-color: white;
        border-radius:20px;
        border-style: solid;
        margin-left: 60px;
        height: 40px;
        margin-top:10px;
        


}